{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h1>Flight Details</h1>
<ul>
    <li>Airline: {{ doc.airplane }}</li>
    <li>{{ doc.sorce_airport }} -> {{ doc.destination_airport }}</li>
    <li>{{ doc.date_of_departure }} | {{doc.time_of_departure}}</li>
    <li>Duration: {{ frappe.utils.format_duration(doc.duration) }}</li>
</ul>
<a class="btn btn-primary" href="/book-flight-web-form/new?flight={{ doc.name }}">Book Flights</a>
{% endblock %}

<!-- this is a sample default web page template -->